<div class="container col col-xs-6 col-md-6 col-lg-6">
			<form>
				<div class="form-group">
     					<label>First Name:</label>	
     					<input  class="form-control" type="text" ng-model="fname"/><br/>
				</div>
				<div class="form-group">
     					<label>Middle Name:</label>	
     					<input  class="form-control" type="text" ng-model="mname"/><br/>
				</div>
				<div class="form-group">
     					<label>Last Name:</label>	
     					<input class="form-control" type="text" ng-model="lname"/><br/>
				</div>
				<div class="form-group">
     					<label>Date of Birth:</label>
					<input class="form-control"  type="text" ng-model="dob"/>
				</div>
		
			</form>
		
</div>
<div class="container">
	<button ng-click="addsave()" class="btn btn-primary">Save</button>
	<button ng-click="addcancel()" class="btn btn-primary">Cancel</button>
</div>
	
